@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.use_font {
    font-family: "Merriweather Sans",
            sans-serif;
        font-optical-sizing: auto;
        font-weight:weight;
        font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.main_cus {
    width: 100%;
    height: fit-content;
    background: url(public/image/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
.main_menu_item_cus a {
    outline: 2px solid #003ae9;
        /* 2 পিক্সেল পুরু লাল আউটলাইন */
        outline-offset: 2px;
        background-color: #003ae9;
        color: white;
        
}
@media only screen and (max-width : 785px){
    .main_menu_item_cus {
        gap: 25px;
    }
}
.main_menu_item_cus_ham a {
    outline: 2px solid #003ae9;
        /* 2 পিক্সেল পুরু লাল আউটলাইন */
        outline-offset: 2px;
        background-color: #003ae9;
        color: white;
        
}
.main_menu_item_cus_ham {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* hero section start */

.hero_inner {
    
    height: 500px;
    margin: auto;
    background: url(public/image/heroImg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3), 4px 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    
    
}

.select_location {
    width: 80%;
    height: fit-content;
    background: url(public/image/selctionImag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    
    left: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.main_src_btn, .sd {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
}
