* {
    margin: 0;
    padding: 0;
}
.main_cus_two {
    width: 100%;
    height: fit-content;
    
    background: url(public/image/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
.each_bus {
    
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}













  .seat_sectin {
      width: 250px;

      background-image: url(public/image/BbusBG.png);
      background-repeat: no-repeat;
      background-position-x: 44%;
      background-position-y: 50%;
      background-size: 105% 99%;
      border-radius: 15% 15% 5% 5%;
      border-top: 0px solid white;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      border-right: 2px solid white;

  }

  .leftt button,
  .leftTwo button,
  .rightt button,
  .righttTwo button {
      display: block;
      border-radius: 15px 15px 7px 7px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.5);
  }

  .shadow_cus {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: 917px) {
      .main_seat_and_info {
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .frretwo {
        display: none;
      }
  }
  @media only screen and (min-width: 917px){
    .frres {
        display: none;
    }
  }
